<%if (page.prev || page.next) { %>
<nav style="text-align: center;">
  <ul class="pagination">
    <%
    var current = page.current;
    var pageCount = page.total;
    if(current!=1){
    %>
    <li>
      <a class="pagination-number" href="/<%= page.prev_link %>" title="Previous Page" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% } %>

    <% var p1 = current-4; if( p1 < 1){ p1=1; } var p2=current+4; if(p2>pageCount){p2=pageCount;}
    for(var j= p1; j<= p2; j++ ){ 
        var href = page.base + "page/" + j + "/";
        if(j==1){ href = page.base; }
        if(j==current){
        %>
            <li class="active"><span class="pagination-number"><%= j %></span></li>
        <% } else { %>
            <li><a class="pagination-number" href="<%= href %>"><%= j %></a></li>
        <% } %>
    <% } %>

    <% if(current !=pageCount){ %>
      <li>
        <a class="pagination-number" href="/<%= page.next_link %>"  title="Next Page" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>
<% } %>